.Navbar-container {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 25px;
    padding: 25px 40px 0px 40px;
    background-color: #2E6BB9;
    /* background-image: url("./image/beautiful-panoramic-mountain-mist-blue-sky-background-north-thailand-inthanon-national-park-chiang-mai-province-panorama-landscape-thailand.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}

.logo {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

#logoIcon {
    width: 35px;
    height: 35px;
}

#text-viv {
    width: auto;
    height: auto;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffffc0;
    margin: 0px;
}

.schedule {
    display: flex;
    width: auto;
    margin: 0px 20px;
}

#scheduleIcon {
margin: 0 20px;
height: 35px;
width: 35px;
opacity: 0.5;
}

#text-schedule {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color:  #ffffffc0;
}

.log-btn {
    border: 0px;
    background-color: transparent;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color:  #ffffffc0;
    cursor: pointer;
    margin: 0px 20px;
}

.log-btn:hover {
    color: #969696;
}
#text-viv:hover {
    color: #969696;
}

#text-schedule:hover {
    color: #969696;
}

#scheduleIcon:hover {
    opacity: 0.7;
    }


/* hidden icons */

#restip, #ressummary {
    display: none;
}

#tipIcon, #summaryIcon {
    margin: 0 20px;
    height: 35px;
    width: 35px;
    opacity: 0.5;
}

#summaryIcon:hover {
    opacity: 0.7;
    }

/* tablet version */
@media only screen and (max-width: 768px) {
    #text-viv {
       display: none;
    }

    #text-schedule {
        display: none;
    }

    #scheduleIcon {
        margin: 0;
    }

    #restip, #ressummary {
        display: contents;
    }

}

.menu-con {
    display: flex;
}