.weather-container {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: fit-content;
    border-top: 2px dashed rgba(122, 122, 122, 0.426);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
    background: #F1F1F1;
    border-radius: 25px; */
    padding: 15px;
}

.weather-content {
    display: flex;
    justify-content: center;
}


.weather-head {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    justify-content: center;
}

.today {
    font-size: 24px;
    font-weight: 600;
}

.weather-result {
    padding: 10px;
}

.env-data {
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 20px;
}

.detail-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detail-data {
    padding-left: 10px;
    font-weight: 700;
    font-size: 18px;
}

.detail-container {
    display: flex;
    margin: 8px;
}