
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background: #f4f4f5;
    border-radius: 25px;
    margin: 70px 20px 70px 100px;
    position: relative;
    bottom: 180px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}





